API_ID=2040
API_HASH=b18441a1ff607e10a989891a5462e627

# sqlite/sqlite3 or mongo/mongodb
DATABASE_TYPE={db_type}
# file name for sqlite3, database name for mongodb
DATABASE_NAME={db_name}

# only for mongodb
DATABASE_URL={db_url}